<div class="info">


<figure class="logo">
<img src="/static/images/logo.png">
<figcaption class="copy">
&copy; 2018 ЗАО "Крутая компания"
</figcaption>
</figure>

<small>
Свидетельство о регистрации №123456789 от 01.01.2000г.<br>
Лицензия на розничную торговлю №00000/00000 от 01.01.2000г.<br>
Дата включения в торговый реестр – 01.01.2000г.
</small>

<div class="contact">

<address>
emal: mega@cool.net<br>
MTC: +375 11 111 11 11<br>
VECOME: +375 22 222 22 22<br>
LIFE: +375 33 333 33 33
</address>

</div>

</div>
